<?xml version="1.0" encoding="utf-8"?>
<launch>
  <group ns="camera/ir">
    <node pkg="kinect_pose" type="board_pose" respawn="false" output="screen" name="checkerboard_detector">
      <param name="display" value="1"/>
      <param name="frame_id" value="/camera_depth_optical_frame"/>
      <param name="rect_x_size" value="0.04"/>
      <param name="rect_y_size" value="0.04"/>
      <param name="grid_x_size" value="7"/>
      <param name="grid_y_size" value="4"/>
    </node>
  </group>

</launch>
