<launch>


<node pkg="chessboard_publisher" type="publisher" name="chessboard_7_5" output="screen">
  <param name="name" value="chessboard" />
  <param name="grid_x_size" value="10" />
  <param name="grid_y_size" value="7" />
  <param name="rect_x_size" value="0.02" />
  <param name="rect_y_size" value="0.02" />
</node>


</launch>
